#radio-div{
	margin: 6% 0;
	color: #afc1d5;
	border: 1px solid black;
	border-radius: 5px;
}
#radio-div>div{
	margin: 3%;
}
#radio-div>div>span{
	margin: 0 7%;
	font-size: 1.15em;
}
#radio-div>div>span>input{
	margin-right: 3px;
}
#radio-div>span{
	float: left;
	font-size: 1.2em;
	transform: translateY(-8px);
}
.adm-login-row + .adm-login-row{
	margin-bottom: -5px;
}